################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/.vs
/Shopping/obj/Docker
/Shopping/Shopping.API/obj
/Shopping/Shopping.Client/obj
